body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex; /* Thiết lập Flexbox cho body */
    flex-direction: column; /* Đặt chiều của các phần tử là dọc */
    justify-content: space-evenly;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Health Record Container */
.health-record-container {
    width: 80%;
    margin: 5% auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/* Health Record Table */
.health-record-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.health-record-table th, .health-record-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.health-record-table th {
    background-color: #4CAF50;
    color: #333;
}

.health-record-table td {
    color: #555;
}

/* Style for no records */
.health-record-table .no-records {
    text-align: center;
    padding: 20px;
    font-style: italic;
    color: #777;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
